@media all and (min-width: 0px){
  .mobileNav{ 
    position: fixed;
    display: flex;
    padding: 0.5rem 0;
    width: 100%;
    z-index: 3;
  }
  .mobileNavWrapper{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100vh;
    width: 75%;
    transition: all 0.3s ease;
    z-index: 100;
  }
  .mobileNavWrapper  ul{
    flex-direction: column;
    padding: 1.2rem 0;
    height: 100vh;
  }
  .mobileNavWrapper ul li{
    padding: 1rem;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-left: 5px solid var(--deep-fir-green);
   }
  .mobileNavWrapper ul li:active{
    background: var(--white);
    border-left: 5px solid var(--orange);
   }
  .mobileNavWrapper ul li a{
    font: 1.125rem/1.7rem var(--roboto);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .hamburger{
    border-radius: 60px;
    height: 2px;
    width:  30px;
    margin: 10px 0 10px 0;
    z-index: 1000;
  }
  .hamburgerBar{
    width: 30px;
    margin-left: auto;
  }
  .hamburgerX{
    animation: cros 0.1s;
    transform: rotateZ(40deg);
    margin-bottom: 0;
    width: 30px;
    margin-left: auto;
  }
  .hamburgerX2{
    animation: cross 0.1s;
    transform: rotateZ(135deg); 
    margin-top: 0;
    width: 30px;
    margin-left: auto;
  }
  @keyframes cross{
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(135deg);
    }
  }
  @keyframes cros{
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(40deg);
    }
  }
  .togglenavbar{
    margin: auto 0;
  }
  .hideMobileNav{
    right: -1024px;
  }
  .nav,.ln3,.desktopNav{
    display: none;
  }
}

@media all and (min-width: 768px){
  .nav2>ul>li{
    font-size: 1.5rem;
  }
  .mobileNavWrapper{
    width: 400px;
  }
}
@media all and (min-width: 1024px){
  .logo{
    width: 120px;
  }
  .topNav ul li a{
    font: 0.75rem/0.875rem var(--roboto);
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
  } 
  .topNav ul li {
    margin: 0 0.7rem;
  }
  .topNav ul li a:hover{
    text-decoration: none;
    color: var(--shadow-green);
  }
  .desktopNav{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .mobileNav{
    display: none;
  }
}
@media all and (min-width: 1440px){
  .logo{
    width: 150px;
  }
  .mobilenav{
    display: none;
  }
  .nav2>ul>li{
   font: 1.125rem/21px var(--roboto);
    font-weight: 500;
    list-style: none;
    display: inline-flex;
    margin: 0 1rem;
  }
  .topNav ul li {
    margin: 0 1rem;
  }
  .active{
    color: var(--sky-blue);
  }
}
/* Light and dark mode */
.lightMode{ 
  background: var(--transparent-grey);
  /* background-image: url("/images/bg-pattern.svg"); */
  transition: 0.2s ease-in-out;
}
.lightMode .mobileNavWrapper  ul{
  background: var(--transparent-deep-fir-green);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  transition: 0.2s ease-in-out;
}
.lightMode .hamburger{
  background: var(--plantation-green);
}
.lightMode .mobileNavWrapper ul li a, .lightMode .mobileNavWrapper ul li:active, .lightMode .topNav ul li a {
  color: var(--plantation-green)
}
.darkMode{
  background: var(--transparent-dark-mode1);
  /* background-image: url("/images/bg-pattern.svg"); */
  transition: 0.2s ease-in-out;
}
.darkMode .mobileNavWrapper  ul{
  background: var(--transparent-dark-mode2);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  transition: 0.2s ease-in-out;
}
.darkMode .hamburger{
  background: var(--plantation-green);
}
.darkMode .mobileNavWrapper ul li a, .DarkMode .mobileNavWrapper ul li:active a, .darkMode .topNav ul li a{
  color: var(--shadow-green);
}
.darkMode .topNav ul li a:hover{
  color: var(--granny-apple);
}