@media all and (min-width: 0px){
  .sectionContent{
    display: flex;
    flex-direction: column;
  }
   .sectionContent figcaption img {
       width: 100%;
   }
   .sectionContent section article{
    padding: 1rem 0;
  }
   .sectionContent section article h1 {
        font: 1.188rem/1.375rem var(--roboto);
        font-weight: 700;
   }
   .sectionContent section article p {
        font: 1.125rem/1.8rem var(--roboto);
        font-weight: 300;
   }
}
@media all and (min-width: 375px){
  .sectionContent figcaption img {
       width: 350px;
       margin: auto;
   }
}
@media all and (min-width: 500px){
    .sectionContent section {
        width: 70%;
    }
}  
@media all and (min-width: 1024px){
    .sectionContent{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .sectionContent figcaption img {
       width: 450px;
       margin: auto;
   }
   .sectionContent section article {
        width: 90%;
        margin: 2.813rem;
        text-align: left;
        letter-spacing: 5%;
    }
    .sectionContent section article h1 {
        font: 2.25rem/3.625rem var(--roboto);
        font-weight: 700;  
    }
   .sectionContent section article p {
        font: 1.25rem/2rem var(--roboto);
        font-weight: 300;
   }
}
@media all and (min-width: 1440px){
    .sectionContainer{
        padding: 3rem 0;
    }
    .sectionContent figcaption img {
        width: auto;
        margin: auto;
    }
   .sectionContent section article {
        width: 70%;
    }

}
/* Light and dark mode */
.darkMode{
  background: var(--grey-green);
  background-image: url("/images/bg-pattern1.svg");
  color: var(--black);
  z-index: 0;
}
.darkMode a {
  color: var(--white)
}
.lightMode{ 
  background: var(--grey-green);
  background-image: url("/images/bg-pattern1.svg");
  color: var(--black);
  z-index: 0;
}
.lightMode a {
  color: var(--white)
}