@media all and (min-width: 0px){
    .sectionContainer{
        padding: 1.25rem 0;
    }
    .sectionContent h2{
        font: 1.125rem/1rem var(--roboto);
        font-weight: bold;
        text-align: center;
    }
    .sectionContent h1{
        font: 1.75rem/2rem var(--roboto);
        font-weight: bold;
        text-align: center;
    }
    .slidesContainer{
        width: 100%;
        margin: 0 auto;
    }
    .sectionContent img{
        width: 100%;
    }
}
@media all and (min-width: 768px){
    .sectionContent h2{
        font: 1.5rem/1.8rem var(--roboto);
        font-weight: bold;
    }
    .sectionContent h1{
        font: 2rem/2rem var(--roboto);
        font-weight: bold;
    }
}   
@media all and (min-width: 1024px){
    .slideWrapper{
        margin: 3rem 0;
    }
    .slidesContainer{
        width: 100%;
    }
    .sectionContent h2{
        font: 1.5rem/2.4rem var(--roboto);
        font-weight: bold;
        text-align: center;
    }
    .sectionContent h1{
        font: 3.125rem/2rem var(--roboto);
        font-weight: bold;
        text-align: center;
    }
}
@media all and (min-width: 1440px){
    .sectionContainer{
        padding: 2rem 0;
    }
}

/* Light and dark mode */
.darkMode{
    background: var(--dark-mode1);
    /* background-image: url("/images/bg-pattern.svg"); */
    color: var(--white);
    transition: 0.2s ease-in-out;
    z-index: 0;
}
.darkMode a {
  color: var(--white);
}
.darkMode .sectionContent h2{
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.lightMode{ 
    background: var(--grey);
    /* background-image: url("/images/bg-pattern1.svg"); */
    color: var(--black);
    transition: 0.2s ease-in-out;
    z-index: 0;
}
.lightMode a {
  color: var(--white);
}
.lightMode .sectionContent h2{
    color: var(--dark-grey);
    transition: 0.2s ease-in-out;
}