@media all and (min-width: 0px){
    .sectionContainer{
        padding: 2rem 0;
    }
    .sectionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--orange);
        border-radius: 10px;
        padding: 1.5rem;
    }
   .sectionContent h1 {
       font: 1.2rem/1rem var(--roboto);
       text-align: center;
       font-weight: bold;
       Letter-spacing: 5%;
       color: var(--white);
       margin: 0.5rem 0;
   }
   .whitepaperBtn{
       display: flex;
       justify-content: center;
       align-items: center;
       background: var(--white);
       border: none;
       outline: none;
       border-radius: 5px;
       width: 136px;
       height: 33px;
       margin: 0.5rem 0;
       box-shadow: 0px 5px 10px 0px  rgba(92,83,83,0.75);
   }
   .whitepaperBtn a{
       color: var(--orange)!important;
       text-decoration: none;
       font: 1rem/1rem var(--roboto);
       font-weight: bold;
   }
}
@media all and (min-width: 375px){
  .sectionContent h1 {
       font: 1.563rem/1rem var(--roboto);
       font-weight: bold;
   }
}
@media all and (min-width: 500px){
    /* .sectionContent section {
        width: 70%;
    } */
}
@media all and (min-width: 768px){
  
}   
@media all and (min-width: 1024px){
   .sectionContent{
        background: var(--orange);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 1.5rem 3rem;
        height: 9.188rem;
    }
     .sectionContent h1 {
       font: 3.125rem/1rem var(--roboto);
       text-align: center;
       font-weight: bold;
       Letter-spacing: 5%;
       margin: 0;
   } 
   .whitepaperBtn{
        border-radius: 5px;
        width: 206px;
        height: 52px;
        margin: 0.5rem 0;
        transition: 0.3s ease-in-out;
   }
   .whitepaperBtn:hover{
       box-shadow: 0px 5px 20px 0px  rgba(92,83,83,0.75);
       transition: 0.3s ease-in-out;
   }
   .whitepaperBtn a{
       color: var(--orange)!important;
       font: 1.438rem/1rem var(--roboto);
       font-weight: bold;
   }
}
@media all and (min-width: 1440px){
    .sectionContainer{
        padding: 0 0 4.438rem 0;
    }

}

/* Light and dark mode */
.darkMode{
  background: var(--grey-green);
  background-image: url("/images/bg-pattern1.svg");
  color: var(--black);
  z-index: 0;
}
.darkMode a {
  color: var(--white);
}
.lightMode{ 
  background: var(--white);
  background-image: url("/images/bg-pattern1.svg");
  color: var(--black);
  z-index: 0;
}
.lightMode a {
  color: var(--white);
}