@media all and (min-width: 0px){
    .sectionContainer{
        padding: 7em 0 4em 0;
    }

    .sectionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroInfo{
        display: flex;
        flex-direction: column;
        
    }

    .heroImgContainer .box{
        width: 100%;
        height: 70vh;
        background-color: var(--greyish-white);
    }

    .heroImg{
        display: none;
    }

    .heroDetails{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .heroDetails h1{
        margin: 1em auto;
    }

    .buttonsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 320px;
        margin-top: 1em;
    }

    .buttonsContainer button{
        outline: none;
        color: var(--white);
        border-radius: 5px;
        margin: 0.25em 0.3em;
        width: 130px;
        height: 31px;
        padding: 1.25em 0.15em;
        line-height: 0.05;
    }

    .airdropBtn{
        background-color: transparent;
        color: var(--deep-fir-green) !important;
        border: 2px solid var(--deep-fir-green);
    }

    .airdropBtnDark{
        color: var(--white);
        background-color: transparent;
        border: 2px solid var(--white);
    }

    .presaleBtn{
        background-color: var(--orange);
        border: 2px solid var(--orange);
    }

    .countDown{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em auto;
    }

    .airdropEnd{
        width: 100%;
        max-width: 300px;
        text-align: left;
        margin-top: 1.5em;
    }

    .airdropEnd p{
        /* position: relative;
        top: 0;
        left: 0; */
        /* padding: 0 0.1em; */
        font-weight: 500;
        font-size: 1.25rem;
        text-align: left;
        margin-left: 1em;
    }

    .timer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.8rem;
    }

    .timerDay, .timerHour, .timerMinute, .timerSecond{
        margin: 0.3em;
        /* padding: 0.1em; */
        text-align: center;
        background-color: transparent;
        /* width: 100%; */
    }

    .timerBorder{
        width: 5px;
        margin: 0 9px;
        height: 70px;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        /* display: none; */
    }

    .adjust{
        visibility: hidden;
    }
}

@media all and (min-width: 303px){
    .adjust{
        visibility: visible;
    }
}

@media all and (min-width: 549px){
    .countDown{
        flex-direction: row;
        justify-content: center;
        max-width: 500px;
    }

    .timer{
        justify-content: center;
    }

    .airdropEnd{
        margin-top: 0;
        width: 50%;
    }

    .airdropEnd p{
        font-size: 1.2rem;
        text-align: center;
    }
}

@media all and (min-width: 769px){
    .heroInfo{
        flex-direction: row;
    }

    .heroDetails{
        width: 55%;
        height: 100%;
        justify-content: flex-start;
    }

    .heroDetails h1{
        font-size: 3.375rem;
        line-height: 0.5rem;
        font-family: var(--roboto);
        font-weight: 900;
        text-align: left;
        width: 100%;
    }

    .buttonsContainer{
        justify-content: flex-start;
        text-align: left;
        max-width: 100%;
    }

    .buttonsContainer button{
        width: 130px;
        height: 37px;
        margin: 0.25em 0.5em;
    }

    .heroImgContainer .box{
        display: none;
    }

    .heroImgContainer{
        height: 100%;
    }

    .heroImg{
        display: block;
        max-width: 100%;
    }
}

@media all and (min-width: 867px){
    .heroDetails p{
        line-height: 2.5rem;
        font-size: 1.313rem;
        margin-top: 2em;
    }
}


/* Light and dark mode */

.darkMode{
    background: var(--dark-mode1);
    background-image: url("/images/bg-pattern.svg");
    color: var(--white);
    z-index: 0;
  }
  .darkMode a {
    color: var(--white);
  }
  .lightMode{ 
    /* background: var(--deep-fir-green); */
    background: var(--grey);
    background-image: url("/images/bg-pattern.svg");
    color: var(--deep-fir-green);
    z-index: 0;
  }
  .lightMode a {
    color: var(--white);
  }