@media all and (min-width: 0px){
    .sectionContainer{
        padding: 4em 0;
    }

    .sectionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .claimInfo{
        line-height: 1.7;
        height: 100%;
    }

    .titleTwo{
        display: none;
    }

    .claimInfo p{
        max-width: 500px;
    }


    .buttonsContainer{
        text-align: center;
    }

    .buttonsContainer button{
        outline: none;
        border-radius: 5px;
        margin: 0.25em 0.3em;
        padding: 1.25em 0.15em;
        line-height: 0.05;
    }

    .verifyBtn{
        background-color: transparent;
        width: 150px;
        height: 26px;
    }

    .verifyBtnLight{
        color: var(--black);
        border: 2px solid var(--black);
    }

    .verifyBtnDark{
        color: var(--white);
        border: 2px solid var(--white);
    }

    .whitepaperBtn{
        width: 110px;
        height: 26px;
        background-color: var(--orange);
        border: 2px solid var(--orange);
        color: var(--white);
    }

    .box{
        margin-top: 2.5em;
        width: 100%;
        max-width: 433px;
        height: calc(70vw - 22px);
        max-height: 477px;
        background-color: var(--greyish-white);
    }
}

@media all and (min-width: 693px){
    .sectionContent{
        flex-direction: row;
        justify-content: space-between;

    }

    /* .claimDetails{
        width: 50%;
        margin: 0;
        padding: 0;
    } */

    .titleTwo{
        display: block;
    }

    .titleOne{
        display: none;
    }

    .claimInfo p{
        /* width: 80%; */
        margin-right: 1.5em;
        margin-top: 1em;
    }

    .buttonsContainer{
        margin-top: 3em;
        margin-bottom: 0;
    }

    .box{
        width: 100%;
        max-width: 450px;
        max-height: 477px;
        margin-top: 0;
        margin-left: 1.5em;
    }

}

@media all and (min-width: 769px){}


/* Light and dark mode */

.darkMode{
    background: var(--dark-mode2);
    background-image: url("/images/bg-pattern.svg");
    color: var(--white);
    z-index: 0;
  }
  
  .darkMode a {
    color: var(--white);
  }

  .lightMode{ 
    background: var(--white);
    background-image: url("/images/bg-pattern.svg");
    color: var(--black);
    z-index: 0;
  }
  .lightMode a {
    color: var(--black);
  }