@media all and (min-width: 0px){
    .sectionContainer{
        padding: 4em 0;
    }

    .sectionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Airdrop Column */
    .airdrop{
        width: 100%;
        margin: 0 auto;
    }

    .airdrop h2{
        font: 1.75rem/2.051rem var(--roboto);
        font-weight: 500;
        color: var(--deep-fir-green);
    }

    .airdrop .claim{
        display: flex;
        width: 100%;
        max-width: 387px;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
    }

    .airdrop .box{
        background-color: var(--grey);
        display: none;
    }

    .claim input{
        display: inline-block;
        width: 90%;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 0.25rem;
        height: 36px;
        /* border-color: var(--grey); */
        border: none;
        outline: none;
        background-color: var(--grey);
    }

    .claim input:focus{
        outline: none;
    }

    .claim button{
        outline: none;
        border: none;
        padding: 0;
        height: 34px;
        width: 60px;
        background-color: var(--orange);
        color: var(--white);
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;

    }

    /* Presale Column */
    .presale, .presaleDark{
        width: 100%;
        margin: 0 auto;
    }

    .presaleDark{
        color: var(--white);
    }

    .presale h2, .presaleDark h2{
        font: 1.75rem/2.051rem var(--roboto);
        font-weight: 500;
        color: var(--deep-fir-green);
        margin: 2rem 0;
    }

    .presaleDark h2{
        color: var(--white);
    }

    p.useWallet, p.useWalletDark {
        font: 1.125rem/1.625rem var(--roboto);
        font-weight: 400;
        color: var(--deep-fir-green);
        margin-bottom: 2.5rem;
        width: 90%;
        max-width: 500px;
    }

    p.useWalletDark{
        color: var(--white);
    }

    p.address, p.addressDark{
        font: 1.125rem/1.318rem var(--roboto);
        font-weight: 400;
        color: var(--deep-fir-green);
        margin-bottom: 0.3rem;
        position: relative;
    }

    p.addressDark{
        color: var(--white);
    }

    .presale input, .presaleDark input{
        width: 90%;
        max-width: 324px;
        border-radius: 7px;
        padding: 0.3rem;
        font: 1.125rem/1.313rem var(--roboto);
        opacity: 0.81;
    }

    .presale .hideNotify, .presaleDark .hideNotify{
        display: none;
    }

    .presale .showNotify, .presaleDark .showNotify{
        position: absolute;
        z-index: 3;
        margin: 0;
        padding: 0.25em 0.5em;
        left: 0px;
        top: -30px;
        display: block;
        background-color: var(--grey);
        color: var(--black2);
        border-radius: 9px;
        font-size: 0.85rem;
        font-weight: 700;
    }

    .presale .toCopy, .presaleDark .toCopy{
        font: 1.125rem/1.313rem var(--roboto);
        color: var(--white);
        opacity: 0.59;
        margin-top: 0.3rem;
    }

    .presale .joinTelegram, .presaleDark .joinTelegram{
        text-align: center;
    }

    .joinTelegram button{
        background-color: transparent;
        color: var(--deep-fir-green);
        padding: 1rem;
        border: 1px solid var(--deep-fir-green);
        border-radius: 7px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        width: 80%;
        max-width: 300px;
    }
}

@media all and (min-width: 769px){
    .sectionContent{
        flex-direction: row;
        justify-content: space-between;
    }

    .airdrop{
        margin-right: 1.5rem;
    }

    .airdrop .box{
        margin-top: 1rem;
        display: block;
        width: 387px;
        max-width: 387px;
        height: 329px;
        
    }

    .presale, .presaleDark{
        margin-left: 1.5rem;
    }
}

/* Light and dark mode */

.darkMode{
  background: var(--dark-mode2);
  background-image: url("/images/bg-pattern.svg");
  color: var(--white);
  z-index: 0;
}
.darkMode a {
  color: var(--white);
}
.lightMode{ 
  background: var(--white);
  background-image: url("/images/bg-pattern.svg");
  color: var(--deep-fir-green);
  z-index: 0;
}
.lightMode a {
  color: var(--white);
}