@media all and (min-width: 0px){

    .sectionContainer{
        padding: 4em 0;
    }

    .sectionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quatreInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .quatreToken h2, .smartContract h2{
        font: 1.75rem/2.063rem var(--roboto);
        font-weight: 500;
    }

    .quatreToken p, .smartContract p{
        font: 1.125rem/1.625rem var(--roboto);
        opacity: 0.81;
        width: 100%;
        padding: 0;
        text-align: justify; /* For Edge */
        -moz-text-align-last: justify; /* For Firefox prior 58.0 */
        text-align-last: justify;
    }

    .box{
        display: none;
    }
}

@media all and (min-width: 769px){
    .sectionContent{
        flex-direction: row;
        justify-content: space-between;
    }

    .quatreInfo{
        width: 378px;
    }

    .box{
        display: block;
        background-color: var(--greyish-white);
        width: 387px;
        height: 367px;
        border-radius: 6px;
        margin: 0 auto;
        margin-left: 2rem;

    }
}

@media all and (min-width: 1036px){
    
    .box{
        margin-left: 2rem;
        width: 529px;
        height: 501px;
    }
    
}

@media all and (min-width: 1036px){
    .box{
        width: 579px;
        height: 549px;
    }
}




/* Light and dark mode */

.darkMode{
    background: var(--dark-mode1);
    background-image: url("/images/bg-pattern.svg");
    color: var(--white);
    z-index: 0;
  }
  .darkMode a {
    color: var(--white);
  }
  .lightMode{ 
    background: var(--grey);
    background-image: url("/images/bg-pattern.svg");
    color: var(--deep-fir-green);
    z-index: 0;
  }
  .lightMode a {
    color: var(--white);
  }