.devWrap figure{
    position: relative;
    padding: 10rem 0 2rem;
    width: 100%;
    left: 0;
    right: 0;
}
.devWrap figure img:nth-child(1){
    display: flex;
    position: relative;
    width: 200px;
    z-index: 1;
    margin: 0 auto;
}
/* .devWrap figure img:nth-child(2){
    width: 80px;
    position: absolute;
    top: 24%;
    left: 65%;
    animation: 3s rotate  ease linear infinite;
    z-index: 2;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} */
.devWrap figure p{
    font: 1.5rem/2.6rem var(--roboto);
    font-weight: 300;
}

.devWrap figure figcaption{
    font: 2rem/2.5rem var(--roboto);
    font-weight: 500;
    margin: 1rem 0;
    overflow: hidden;
}

@media all and (min-width: 500px){
    .devWrap figure img:nth-child(1){
        width: auto;
    }
    .devWrap figure img:nth-child(2){
        width: 150px; 
        top: 15%;
        left: 60%; 
    }
}
@media all and (min-width: 1024px){
    .devWrap figure img:nth-child(2){
        top: 15%;
        left: 58%; 
    }
}
@media all and (min-width: 1440px){
    .devWrap figure img:nth-child(2){
        animation: 3s rotate linear infinite;
        left: 55%; 
    }
    .devWrap figure figcaption{
        font: 3rem/3.5rem var(--roboto);
        font-weight: 500;
        margin: 1rem 0;
    }
}

/* Light and dark mode */
.darkMode{
  background: var(--plantation-green);
  background-image: url("/images/bg-pattern.svg");
  color: var(--black);
  z-index: 0;
}
.darkMode a {
  color: var(--white
  )
}
.lightMode{ 
  background: var(--deep-fir-green);
  background-image: url("/images/bg-pattern.svg");
  color: var(--white);
  z-index: 0;
}
.lightMode a {
  color: var(--white
  )
}