@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@media all and (min-width: 0px) {
	.wrapper {
		width: 91.46667%;
		margin: 0 auto;
		overflow: hidden;
	}
}

@media all and (min-width: 1024px) {
	.wrapper {
		width: 85%;
		margin: 0 auto;
	}
}

@media all and (min-width: 1280px) {
	.wrapper {
		width: 65%;
		margin: 0 auto;
	}
}

@media all and (min-width: 2000px) {
	.wrapper {
		width: 1310px;
		margin: 0 auto;
	}
}
