@import './config/_config.css';
html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media all and (min-width: 0px){
    .wrapper{
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
	}
	.cards{
		transition: 0.5s ease;
	}
	.cards:hover{
		transform: scaleX(1.05);
		transition: 0.5s ease;
	}
}
@media all and (min-width: 400px){
	
}
@media all and (min-width: 768px){
	
}
@media all and (min-width: 1024px){
   
	.wrapper{
		width: 90%;
		margin: 0 auto;
	}
}
@media all and (min-width: 1440px){
	
}
@media all and (min-width: 2000px){
	.wrapper{
		width: 1440px;
	}
}
@media all and (min-width: 2550px){
	.wrapper{
		width: 1440px;
	}
}
/* sun icon */
.bi-sun-fill{
	color: var(--granny-apple);
	font-size: 20px;
}
/* moon icon */
.bi-moon-fill{
	color: var(--granny-apple);
	font-size: 20px;
}